* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0a0a0a, #3a4452);
}
body {
   
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0a0a0a, #3a4452);
}
.calculator {
    border: 1px solid black;
    box-shadow: 0.1rem 0.3rem 1rem rgba(113, 115, 119, 0.5);
    border-radius: 1rem;
    padding: 2rem;
}

input {
    border: transparent;
    width: 20rem;
    padding: 0.5rem;
    margin: 0.68rem;
    background: transparent;
    font-size: 2.5rem;
    text-align: right;
    box-shadow: 0.1rem 0.3rem 1rem rgba(113, 115, 119, 0.5);
}

.button {
    height: 4rem;
    width: 4rem;
    border: transparent;
    border-radius: 1rem;
    background: transparent;
    margin: 0.68rem;
    color: #ffffff;
    box-shadow: 0.1rem 0.3rem 1rem rgba(113, 115, 119, 0.5);
    cursor: pointer;
    font-size: 1.1rem;
}

button:active {
    background-color: rgb(67, 67, 67);
}

input::placeholder {
    color: #ffffff
}

.equal {
    background: #ff5700
}

.operator {
    color: #00ff00;
}